body {background-color: #E7E0DA;
background-image: url();
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}
header {display: flex;
justify-content: space-around;
background-color: #E7E0DA}
.color1 {color: #1B1F2B}
.color2 {color: #404040}
.color3 {color: #08376B ;text-decoration: underline; text-align: center}
.color4 {color: #0606FC}
.color5 {color: #5C76F1}
.color6 {color: #E7E0DA}
.color7 {color: #CD676A}
.color8 {color: #644F63}
h1{text-decoration: underline;}
h1{text-align: center;}
.pasoapaso{}
.fotopastafrola{}
.iconowhatsapp {position: fixed; bottom: 20px; right:20px;}
.icono {display: flex;
justify-content: space-around;
flex-wrap: wrap;}
.menu ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menu a {
		display: block;
		padding: 1em;
		background-color: #E7E0DA;
		text-decoration: none;
		color: #191C26;
	}
	.menu a:hover {
		background-color: #E7E0DA;
	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover {
		display: block;
	}
  .footer {display: flex;
  justify-content: space-around;
  background-color: #E7E0DA;
flex-wrap: wrap;}
